<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="/css/gyeonggido-nationalMap-style.css">
    <script src="https://kit.fontawesome.com/222eada15c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrap">
        <section class="local-item-list">
            <section class="local-item-wrap">

                <!-- 지역 날씨 정보 -->
                <div class="local-weather">
                    <div class="local-title">
                        <img class="weather-img" src="/img/local-sun.png" alt="태양 이미지">
                        <p class="local-name">경기도</p>
                    </div>
                    <div class="local-weather-today">
                        <div class="local-weather-today-sectione1">
                            <p class="local-weather-now-temperature">현재 기온 : n도</p>
                            <p class="local-weather-now-humidity">현재 습도 : n%</p>
                        </div>
                        <p class="local-weather-today-now">현재 날씨 : 맑음</p>
                    </div>
                </div>

                <!-- 지역 미세먼지 정보 -->
                <div class="local-fineDust">
                    <div class="local-title">
                        <img class="fineDust-img" src="/img/fineDust-good.png" alt="미세먼지 좋음 이미지">
                        <p class="local-name">경기도</p>
                    </div>
                    <div class="local-fineDust-today">
                        <div class="local-fineDust-today-sectione1">
                            <p class="local-fineDust-today-density">미세먼지 농도 : nPM</p>
                            <p class="local-fineDust-today-state">현재 미세먼지 상태 : 좋음</p>
                        </div>
                    </div>
                </div>

                <!-- 오늘의 추천 지역 -->
                

                <!-- 지역 인구수 -->
                <button class="local-population">대한민국 현재 인구</button>
            </section>


            <section class="local-item-restaurant">
                <div class="restaurant-scroll-wrap">

                    <div class="local-restaurant-wrap">
                        <div class="local-restaurant-info">
                            <p class="local-restaurant-name">옹플뢰르</p>
                            <p class="local-restaurant-address">서울특별시 용산구 회나무로44길 옹플뢰르</p>
                            <p class="local-restaurant-time">운영시간 :  11:00 ~  21:00</p>
                            <p class="local-restaurant-weather">날씨 : 맑음 미세먼지 상태 : 보통</p>
                            <button class="local-restaurant-goWay">길찾기</button>
                        </div>
                        <div class="local-restaurant-img">
                            <img src="/img/restaurant.png" alt="음식점 이미지">
                        </div>
                    </div>


                    <!-- 자스로 추가할것 -->
                    <div class="local-restaurant-wrap">
                        <div class="local-restaurant-info">
                            <p class="local-restaurant-name">옹플뢰르</p>
                            <p class="local-restaurant-address">서울특별시 용산구 회나무로44길 옹플뢰르</p>
                            <p class="local-restaurant-time">운영시간 :  11:00 ~  21:00</p>
                            <p class="local-restaurant-weather">날씨 : 맑음 미세먼지 상태 : 보통</p>
                            <button class="local-restaurant-goWay">길찾기</button>
                        </div>
                        <div class="local-restaurant-img">
                            <img src="/img/restaurant.png" alt="음식점 이미지">
                        </div>
                    </div>
                    <div class="local-restaurant-wrap">
                        <div class="local-restaurant-info">
                            <p class="local-restaurant-name">옹플뢰르</p>
                            <p class="local-restaurant-address">서울특별시 용산구 회나무로44길 옹플뢰르</p>
                            <p class="local-restaurant-time">운영시간 :  11:00 ~  21:00</p>
                            <p class="local-restaurant-weather">날씨 : 맑음 미세먼지 상태 : 보통</p>
                            <button class="local-restaurant-goWay">길찾기</button>
                        </div>
                        <div class="local-restaurant-img">
                            <img src="/img/restaurant.png" alt="음식점 이미지">
                        </div>
                    </div>
                    <div class="local-restaurant-wrap">
                        <div class="local-restaurant-info">
                            <p class="local-restaurant-name">옹플뢰르</p>
                            <p class="local-restaurant-address">서울특별시 용산구 회나무로44길 옹플뢰르</p>
                            <p class="local-restaurant-time">운영시간 :  11:00 ~  21:00</p>
                            <p class="local-restaurant-weather">날씨 : 맑음 미세먼지 상태 : 보통</p>
                            <button class="local-restaurant-goWay">길찾기</button>
                        </div>
                        <div class="local-restaurant-img">
                            <img src="/img/restaurant.png" alt="음식점 이미지">
                        </div>
                    </div>
                    <div class="local-restaurant-wrap">
                        <div class="local-restaurant-info">
                            <p class="local-restaurant-name">옹플뢰르</p>
                            <p class="local-restaurant-address">서울특별시 용산구 회나무로44길 옹플뢰르</p>
                            <p class="local-restaurant-time">운영시간 :  11:00 ~  21:00</p>
                            <p class="local-restaurant-weather">날씨 : 맑음 미세먼지 상태 : 보통</p>
                            <button class="local-restaurant-goWay">길찾기</button>
                        </div>
                        <div class="local-restaurant-img">
                            <img src="/img/restaurant.png" alt="음식점 이미지">
                        </div>
                    </div>
                    <div class="local-restaurant-wrap">
                        <div class="local-restaurant-info">
                            <p class="local-restaurant-name">옹플뢰르</p>
                            <p class="local-restaurant-address">서울특별시 용산구 회나무로44길 옹플뢰르</p>
                            <p class="local-restaurant-time">운영시간 :  11:00 ~  21:00</p>
                            <p class="local-restaurant-weather">날씨 : 맑음 미세먼지 상태 : 보통</p>
                            <button class="local-restaurant-goWay">길찾기</button>
                        </div>
                        <div class="local-restaurant-img">
                            <img src="/img/restaurant.png" alt="음식점 이미지">
                        </div>
                    </div>
                    <div class="local-restaurant-wrap">
                        <div class="local-restaurant-info">
                            <p class="local-restaurant-name">옹플뢰르</p>
                            <p class="local-restaurant-address">서울특별시 용산구 회나무로44길 옹플뢰르</p>
                            <p class="local-restaurant-time">운영시간 :  11:00 ~  21:00</p>
                            
                            <p class="local-restaurant-weather">날씨 : 맑음 미세먼지 상태 : 보통</p>
                            <button class="local-restaurant-goWay">길찾기</button>
                        </div>
                        <div class="local-restaurant-img">
                            <img src="/img/restaurant.png" alt="음식점 이미지">
                        </div>
                    </div>
                    
                    
                </div>
            </section>
        </section>


        <section class="map">
            <div class="map-select-wrap">
                <div class="map-select">
                    <span>경기도</span>
                    <i class="fa-solid fa-sort-down" style="color: #000000;"></i>
                </div>
                <div class="map-select-up hide">
                    <span>경기도</span>
                    <i class="fa-solid fa-caret-up"></i>
                </div>
                <ul class="map-select-list hide">
                    <li class="map-select-item">전국</li>
                    <li class="map-select-item">서울</li>
                    <li class="map-select-item">인천</li>
                    <li class="map-select-item">강원도</li>
                    <li class="map-select-item">충청남도</li>
                    <li class="map-select-item">충청북도</li>
                    <li class="map-select-item">세종</li>
                    <li class="map-select-item">대전</li>
                    <li class="map-select-item">경상북도</li>
                    <li class="map-select-item">경상남도</li>
                    <li class="map-select-item">전라북도</li>
                    <li class="map-select-item">전라남도</li>
                    <li class="map-select-item">광주</li>
                    <li class="map-select-item">대구</li>
                    <li class="map-select-item">울산</li>
                    <li class="map-select-item">부산</li>
                    <li class="map-select-item">제주도</li>
                </ul>
            </div>
            
        </section>
    </div>
    <div class="population-popup hide">
        <div class="population-popup-main">
            <div>         
                <div class="population-popup-title">
                    <span>대한민국의 현재 인구수</span>
                </div>
                <div>
                    <div>
                        <div class="population-gkq">
                            <span>총 대한민국 인구수 : 51,744,876명</span>
                        </div>
                        <div class="population-male">
                            <span>총 대한민국 남성 인구수 : 51,744,876명</span>
                        </div>
                    </div>
                    <div>
                        <div class="population-female">
                            <span>총 대한민국 여성 인구수 : 51,744,876명</span>
                        </div>
                        <div class="population-wnxor">
                            <span>총 대한민국 주택수 : 51,744,876명</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="close">
                <i class="fa-solid fa-xmark" style="font-size: 40px;"></i>
            </div>
        </div>
    </div>
    <script src="/script/script copy.js"></script>
    <script src="/js/home/move.js"></script>
</body>
</html>